

/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}


/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}


/* navbar */

 .navbar {
    background-color: #3f4c50;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
} 


/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    margin: 10px;
}

/* navigation list */

/*
.navbar * {
    border: 1px solid gray;
} */


.navbar-links ul {
    padding: 0;
}

.navbar-links li {
    list-style: none;
    display: block;
    padding-top: .25em;
    padding-bottom: .25em;
    text-align: center;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: .75ex;
    border-radius: .5ex;
    background-color: #3f4c50;
    padding: 2ex;
}

.navbar-links a:hover {
    filter: invert(100%);
}


/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media (min-width: 800px) {
   
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar ul {
        display: flex;
        justify-content: space-between;
    }
}