@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Trade+Winds&display=swap');

/* Base body style */
body {
    font-family: "Trade Winds", system-ui;
    background-image: linear-gradient(to bottom, #171B1C, #a68053, #d97c2b, #d96523);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Metal Mania", system-ui;
    text-align: center;
}

h1 {
    font-size: 30pt;
}

h2 {
    margin: .1em;
}

p1 {
    font-size: 20px;
    font-weight: bold;
}



/* header {
    text-align: center;
}*/

/* Hero Section */

#hero{
    text-align: center;
    background-image: url('/img/BA_CSTLES.jpg');
    background-size: 550px;
    padding: 20px;
    border:3px solid #7a7168;
    border-radius: 40px;
}

#hero p{
    font-size: 25px;
    color: #FFA500;
}

footer {
    text-align: center;
    background-color: #719aa5;
    padding:20px;
    border:3px solid #7a7168;
    border-radius: 40px;
}

#hero img {
    width: 350px;
    border-radius: 90%;
    border:5px solid #7a7168;
    
   /* max-width: 100%; */
}

/* Bio Section */
#bio {
 text-align:center;
}

/* Destroy Lonely Section */
.lonely{
    display: flex;
    align-items: center;
}

.lonely img {
    width: 100%;
    max-width: 600px;
    border-radius: 40px;
    border:5px solid #7a7168;
}

.lonely figcaption {
    font-size: 1.1em;
}

.lonely_songs figcaption {
    font-size: 25px
}

.lonely_songs p {
    font-size: 20px;
}

.lonely_songs {
    display: flex;
    align-items: center;
}

.lonely_songs audio {
    display: block;
    margin: .25rem auto;
}

.lonely_songs img {
    width: 100%;
    width: 300px;
    border-radius: 40px;
    border:5px solid #7a7168;
    margin: auto;
}

/* Hobbies Section */

#hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#hobbies ul li:nth-child(1){
    color: #10787C
}

#hobbies ul li:nth-child(2){
    color: #186165
}

#hobbies ul li:nth-child(3){
    color: #1A3E4C
}

#hobbies ul li:nth-child(4){
    color: #99523E
}

#hobbies ul li:nth-child(5){
    color: #76332A
}

#hobbies ul li:nth-child(6){
    color: #4C1A14
}

/* Gallery Section */

#gallery {
    border: 2px solid #7a7168;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 2rem;
}

#gallery img {
  max-width:100%;
  border: 3px solid #7a7168;
  border-radius: 20px;
}

/* Blog Section */

#blog {
    border: 2px solid #7a7168;
    border-radius: 20px;
    margin-bottom: 2rem;
}

#blog div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#blog h2  {
    color: maroon;
}

#blog div p:nth-child(3n+1):first-letter {
    color: #980A1B;
    background-image: radial-gradient(#531337,#3B0158,#590587);
    float: left;
    font-size: 3em;
    line-height: 1;
    padding: 0.1rem .6rem;
    margin-right: 0.3rem;
    border: 1px outset solid #591428;
    text-shadow: 2px 2px 4px #820D1E;
    box-shadow: #621322 2px 2px 6px;
    border-top-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

#video {
    border: 2px solid #7a7168;
    border-radius: 20px;
    margin-bottom: 2rem;
    text-align: center;
}

#video iframe {
    max-width: 100%;
    aspect-ratio: auto;
    border: 3px solid #7a7168;
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Contact Form */

#formElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width:600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid #719aa5;
    margin-top:1em;
    margin-bottom: 1em;
}

legend {
    background-color: #719aa5;
    color: white;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style:none;
    padding:0px;
}

#contact li {
    margin:1rem;
}

#contact button {
    background-color: #719aa5;
    color: white;
    border: 1px solid #7a7168;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}

/* default hover effect */
.lonely img:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.lonely_songs img {
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.lonely_songs img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0,255,255,0.5);
}

.lonely_songs img:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

@media (hover: hover) {
  /* when hover is supported */
  a:hover {
    color: white;
    background: black;
  }
}

/* Tablet Size */
@media screen and (min-width: 60em) {


#gallery figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#gallery figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-left: 1rem;
}


#blog div {
    max-width: 100%;
    columns: 40rem;
}


}

/* Large Screen Size */

@media screen and (min-width: 100em) {

    .lonely_songs figure {
        grid-template-columns: 1fr 1fr;
    }

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #video h2 {
        grid-column: 1/-1;
    }
    
    hr{
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

}

/* Compressed/Small/Mobile Screen Size */
@media screen and (max-width: 80em) {
  .lonely_songs {
    flex-direction: column;
    align-items: center;
  }

  .lonely_songs img {
    max-width: 300px;
  }

  .lonely_songs figcaption {
    text-align: center;
  }

  .lonely_songs audio {
    width: 100%;
  }
  
.lonely {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lonely figcaption {
    text-align: center;
    margin-top: 0.5rem;
    width: 100%;
  }

}
