@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Trade+Winds&display=swap');

/* Base body style */
body {
    font-family: "Trade Winds", system-ui;
    background-color: #FAA758;
    color: #3f4c50
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Metal Mania", system-ui;
    text-align: center;
}

h1 {
    font-size: 40pt;
}

header {
    text-align: center;
}

/* Hero Section */

#hero, footer {
    text-align: center;
    background-color: #719aa5;
    padding:20px;
    border:3px solid #7a7168;
    border-radius: 40px;
}

#hero img {
    width: 400px;
   /* max-width: 100%; */
}

/* Bio Section */
#bio {
    text-align:center;
}

.artist {
    width:400px;
    border: 3px solid #7a7168;
    border-radius: 40px;
}

/* Hobbies Section */

#hobbies ul li:nth-child(2){
    color: #f505e1
}

#hobbies ul li:nth-child(3){
    color: #00237a
}

#hobbies ul li:nth-child(4){
    color: #541b9e
}

#hobbies ul li:nth-child(5){
    color: #1b9e49
}

/* Gallery Section */

#gallery {
    border: 2px solid #7a7168;
    text-align: center;
    border-radius: 20px;
}

#gallery img {
  max-width:100%;
  border: 3px solid #7a7168;
    border-radius: 20px;
}