@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Trade+Winds&display=swap');

/* Base body style */
body {
    font-family: "Trade Winds", system-ui;
    background-image: linear-gradient(to bottom, #171B1C, #a68053, #d97c2b, #d96523);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Metal Mania", system-ui;
    text-align: center;
}

h1 {
    font-size: 30pt;
}

h2 {
    margin: .1em;
}

/* header {
    text-align: center;
}*/

/* Hero Section */

#hero, footer {
    text-align: center;
    background-color: #719aa5;
    padding:20px;
    border:3px solid #7a7168;
    border-radius: 40px;
}

#hero img {
    width: 300px;
    
   /* max-width: 100%; */
}

/* Bio Section */
#bio {
    text-align:center;
}

.artist {
    width:300px;
    border: 3px solid #7a7168;
    border-radius: 40px;
}

/* Hobbies Section */

#hobbies {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#hobbies ul li:nth-child(1){
    color: #60787C
}

#hobbies ul li:nth-child(2){
    color: #386165
}

#hobbies ul li:nth-child(3){
    color: #0A3E4C
}

#hobbies ul li:nth-child(4){
    color: #99523E
}

#hobbies ul li:nth-child(5){
    color: #76332A
}

#hobbies ul li:nth-child(6){
    color: #613E38
}

/* Gallery Section */

#gallery {
    border: 2px solid #7a7168;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 2rem;
}

#gallery img {
  max-width:100%;
  border: 3px solid #7a7168;
  border-radius: 20px;
}

/* Literature Section */

#lit {
    border: 2px solid #7a7168;
    border-radius: 20px;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit h2  {
    color: maroon;
}

#lit div p:nth-child(3n+1):first-letter {
    color: maroon;
    background-image: radial-gradient(red,black);
    float: left;
    font-size: 3em;
    line-height: 1;
    padding: 0.1rem .6rem;
    margin-right: 0.3rem;
    border: 1px outset solid wheat;
    text-shadow: 2px 2px 4px wheat;
    box-shadow: wheat 2px 2px 6px;
    border-top-left-radius: .2em;
    border-bottom-right-radius: .2em;
}

#video {
    border: 2px solid #7a7168;
    border-radius: 20px;
    margin-bottom: 2rem;
    text-align: center;
}

#video iframe {
    max-width: 100%;
    aspect-ratio: auto;
    border: 3px solid #7a7168;
    border-radius: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Contact Form */

#formElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width:600px;
    margin: 2rem auto;
}

fieldset {
    border: 2px solid #719aa5;
    margin-top:1em;
    margin-bottom: 1em;
}

legend {
    background-color: #719aa5;
    color: white;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style:none;
    padding:0px;
}

#contact li {
    margin:1rem;
}

#contact button {
    background-color: #719aa5;
    color: white;
    border: 1px solid #7a7168;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}

/* Tablet Size */
@media screen and (min-width: 60em) {

#gallery figure {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#gallery figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-left: 1rem;
}

#lit div {
    max-width: 100%;
    columns: 40rem;
}

}

/* Large Screen Size */

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #video h2 {
        grid-column: 1/-1;
    }
    
    hr{
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

}